@import "bulma/bulma"
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans')

$fa-font-path: "../node_modules/font-awesome/fonts"

@import "font-awesome/scss/font-awesome"

body
  margin: 0
  padding: 0
  font-family: 'Lato', sans-serif
